<a href="https://colab.research.google.com/github/ViniciusBG/relatorio/blob/master/teste_flavio/Teste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Casos confirmados

In [11]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

In [12]:
df = pd.read_csv(url)

In [14]:
df[df['Country/Region']=='Brazil']

   Province/State Country/Region     Lat  ...  7/12/20  7/13/20  7/14/20
28            NaN         Brazil -14.235  ...  1864681  1884967  1926824

[1 rows x 179 columns]

In [15]:
df1 = pd.read_csv('https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv?cachebust=bc59348917b497bd')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df1[df1['country_region']=='Brazil']

      country_region_code  ... residential_percent_change_from_baseline
18584                  BR  ...                                      0.0
18585                  BR  ...                                      1.0
18586                  BR  ...                                     -1.0
18587                  BR  ...                                     -1.0
18588                  BR  ...                                     -1.0
...                   ...  ...                                      ...
22695                  BR  ...                                     10.0
22696                  BR  ...                                     10.0
22697                  BR  ...                                     10.0
22698                  BR  ...                                     11.0
22699                  BR  ...                                     10.0

[4116 rows x 13 columns]